@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption, th {
    text-align: left;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body {
    font-family: arial, helvetica;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

h1 {
    font-size: 350%;
}


h3 {
    font-size: 200%;
}


h4 {
    font-size: 150%;
}

p {
    font-size: 2em;
}

.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

.section {
    /*text-align: center;*/
}

#menu li {
    display: inline-block;
    /*margin: 10px;*/
    /*color: #000;*/
    /*background: #fff;*/
    /*background: rgba(255, 255, 255, 0.5);*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

#menu li.active {
    background: #ffffff;
    color: #828282;
}

#menu li a {
    text-decoration: none;
    color: #ffffff;
    background: rgba(1, 1, 2, 0.47);
}

#menu li.active a:hover {
    color: #000;
}

/*#menu li:hover {*/
    /*background: rgba(255, 255, 255, 0.8);*/
/*}*/

#menu li a,
#menu li.active a {
    display: block;
    line-height: 46px;
    text-align: center;
}

#menu li.active a {
    background: #fff;
    color: #555 !important;
}

#menu li.active a {
    color: #fff;
}

#menu {
    position: fixed;
    right: 0;
    top: 50px;
    height: 40px;
    z-index: 70;
    padding: 0;
    margin: 0;
    width: 100%;
}

.twitter-share-button {
    position: fixed;
    z-index: 99;
    right: 149px;
    top: 9px;
}

#download {
    margin: 10px 0 0 0;
    padding: 15px 10px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#download a {
    text-decoration: none;
    color: #fff;
}

#download:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-color: #2F96B4;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -ms-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

#infoMenu {
    height: 20px;
    color: #f2f2f2;
    position: fixed;
    z-index: 70;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    padding: 8px 0 8px 0;
}

#infoMenu ul {
    padding: 0 40px;
}

#infoMenu li a {
    display: block;
    margin: 0 22px 0 0;
    color: #333;
}

#infoMenu li a:hover {
    text-decoration: underline;
}

#infoMenu li {
    display: inline-block;
    position: relative;
}

#examplesList {
    display: none;
    background: #282828;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 20px;
    float: left;
    position: absolute;
    bottom: 29px;
    right: 0;
    width: 638px;
    text-align: left;
}

#examplesList ul {
    padding: 0;
}

#examplesList ul li {
    display: block;
    margin: 5px 0;
}

#examplesList ul li a {
    color: #BDBDBD;
    margin: 0;
}

#examplesList ul li a:hover {
    color: #f2f2f2;
}

#examplesList .column {
    float: left;
    margin: 0 20px 0 0;
}

#examplesList h3 {
    color: #f2f2f2;
    font-size: 1.2em;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 5px 0;
}

/* Demos Menu
 * --------------------------------------- */
#demosMenu {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}


/*---------------------------------*/

.parallelogram {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 140px;
    height: 47px;
    border: 1px solid #fff;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    /*background: rgba(1, 1, 2, 0.47);*/
    -webkit-transform:    skewX(-20deg);
    transform:    skewX(-20deg);
}

.parallelogram > a > span {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    display: inline-block;
    font-size: 130%;
}

.logo {
    height: 80px;
    width: 80px;
    margin-top: 0px;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-middle {
    line-height: 80px;
    vertical-align: middle;
}

#section0 {
    background: url("assets/home_artwork.png") no-repeat;
    background-size: 100% 85%;
    background-position: bottom;
}

.company-name {
    color: #fff;
    text-shadow: 2px 2px brown;
    margin-top: 3%;
}

.tagline {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px brown;
}

.home-icons {
    text-align: center;
    margin-top: 5%;
}

.home-icon-wrapper {
    height: 50px;
    width: 50px;
    background-color: #fff;
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    border-radius: 5px;
    margin: 30px 4%;
}

.home-icon {
    font-size: 180%;
    display: inline-block;
    color: brown;
}

.bottom-bar-wrapper {
    /*background-color: #fff;*/
    height: 48px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
    overflow: hidden;
}

.chevron-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    text-align: center;
    color: #fff;
    font-size: 180%;
    line-height: 48px;
}

.home-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.home-gallery-image {
    background: rgba(255, 255, 255, 0.4);
    padding-bottom: 90%;
    width: 100%;
    border: 4px solid #fff;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    background-position: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.home-gallery-image > div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.5);
}

.place1 {
    background: url("./assets/home/place1.jpg") no-repeat;
    background-size: cover;
}

.place2 {
    background: url("./assets/home/place2.jpg") no-repeat;
    background-size: cover;
}

.place3 {
    background: url("./assets/home/place3.jpg") no-repeat;
    background-size: cover;
}

.place4 {
    background: url("./assets/home/malpe.jpg") no-repeat;
    background-size: cover;
}

.place1:hover, .place2:hover, .place3:hover, .place4:hover {
    transform: scale(1.1);
}

.about-tab1, .about-tab2 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.about-tab1 {
    text-align: center;
    border: 2px solid #fff;
}

.heading {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-bottom: 2px solid #fff;
}

.kts-taxi-wrapper {
    text-align: center;
    padding: 15px;
}

.kts-taxi {
    max-width: 80%;
}

.about-content {
    color: #fff;
    font-size: 130%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    border-top: 2px solid #fff;
}

.service-wrapper {
    height: 66px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
}

.service-icon {
    height: 60px;
    width: 60px;
    background: #fff;
    margin: 1px;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
}

.service-icon > i {
    font-size: 280%;
    color: #0a487a;
}

.service-name {
    color: #fff;
    font-size: 150%;
    line-height: 60px;
    padding-left: 15px;
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 420px;
}

.service-heading {
    color: #fff;
    line-height: 60px;
    text-align: center;
}

.bottom-bar-section2 {
    background: #0066b7;
}

.bottom-bar-section3 {
    background: #e1bd33;
}

.bottom-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    text-align: center;
    color: #fff;
    font-size: 150%;
    line-height: 48px;
}

#section1 {
    background: url("./assets/about_bg.png") no-repeat;
    background-size: 100% auto;
}

.bottom-nav:after {
    content: ' ';
    width: 40px;
    height: 70px;
    background: #fff;
    position: absolute;
    left: -10px;
    transform: rotate(20deg);
}

.bottom-nav {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 200px;
    height: 48px;
    margin: -1px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #fff;

    float: right;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
    position: relative;
}

.maps-iframe {
    border: 5px solid #fff;
    height: 500px;
    width: 100%;
}

.contact-form {
    min-height: 500px;
    width: 100%;
    background: #fff;
    padding: 30px;
}

.contact-heading {
    font-size: 150%;
    font-weight: bold;
}

.form {
   margin: 20px 0;
}

.form-input {
    width: 100%;
    padding: 5px;
    font-size: 120%;
    border: none;
    border-bottom: 3px solid #d6d6d6;
    transition: all 0.5s ease;
    margin: 15px 0;
}

.form-input:focus {
    outline: none;
    border-bottom: 3px solid #f60;
}

.contact-underline {
    width: 50px;
    height: 4px;
    background: #f60;
    margin-top: 5px;
}

#section3 .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}