@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body {
    font-size: 14px;
    padding: 0 !important;
    margin: 0;
    overflow-x: hidden !important;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

/* Custom CSS
 * --------------------------------------- */

body {
    font-family: arial, helvetica;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

h1 {
    font-size: 350%;
}

h3 {
    font-size: 200%;
}

h4 {
    font-size: 150%;
}

p {
    font-size: 2em;
}

.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

.section {
    /*text-align: center;*/
}

#menu li {
    display: inline-block;
    /*margin: 10px;*/
    /*color: #000;*/
    /*background: #fff;*/
    /*background: rgba(255, 255, 255, 0.5);*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

#menu li.active {
    background: #ffffff;
    color: #828282;
}

#menu li a {
    text-decoration: none;
    color: #ffffff;
    background: rgba(1, 1, 2, 0.47);
}

#menu li.active a:hover {
    color: #000;
}

/*#menu li:hover {*/

/*background: rgba(255, 255, 255, 0.8);*/

/*}*/

#menu li a,
#menu li.active a {
    display: block;
    line-height: 46px;
    text-align: center;
}

#menu li.active a {
    background: #fff;
    color: #555 !important;
}

#menu li.active a {
    color: #fff;
}

#menu {
    position: fixed;
    right: 0;
    top: 50px;
    height: 40px;
    z-index: 70;
    padding: 0;
    margin: 0;
    width: 100%;
}

.twitter-share-button {
    position: fixed;
    z-index: 99;
    right: 149px;
    top: 9px;
}

#download {
    margin: 10px 0 0 0;
    padding: 15px 10px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#download a {
    text-decoration: none;
    color: #fff;
}

#download:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-color: #2F96B4;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -ms-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

#infoMenu {
    height: 20px;
    color: #f2f2f2;
    position: fixed;
    z-index: 70;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    padding: 8px 0 8px 0;
}

#infoMenu ul {
    padding: 0 40px;
}

#infoMenu li a {
    display: block;
    margin: 0 22px 0 0;
    color: #333;
}

#infoMenu li a:hover {
    text-decoration: underline;
}

#infoMenu li {
    display: inline-block;
    position: relative;
}

#examplesList {
    display: none;
    background: #282828;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 20px;
    float: left;
    position: absolute;
    bottom: 29px;
    right: 0;
    width: 638px;
    text-align: left;
}

#examplesList ul {
    padding: 0;
}

#examplesList ul li {
    display: block;
    margin: 5px 0;
}

#examplesList ul li a {
    color: #BDBDBD;
    margin: 0;
}

#examplesList ul li a:hover {
    color: #f2f2f2;
}

#examplesList .column {
    float: left;
    margin: 0 20px 0 0;
}

#examplesList h3 {
    color: #f2f2f2;
    font-size: 1.2em;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 5px 0;
}

/* Demos Menu
 * --------------------------------------- */

#demosMenu {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}

/*---------------------------------*/

.parallelogram {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 140px;
    height: 47px;
    border: 1px solid #fff;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    /*background: rgba(1, 1, 2, 0.47);*/
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.parallelogram>a>span {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    display: inline-block;
    font-size: 130%;
}

.logo {
    height: 80px;
    width: 80px;
    margin-top: 0px;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-middle {
    line-height: 80px;
    vertical-align: middle;
}

#section0 {
    background: url("assets/home_artwork.png") no-repeat;
    background-size: 100% 85%;
    background-position: bottom;
}

.company-name {
    color: #fff;
    text-shadow: 2px 2px brown;
    margin-top: 3%;
    font-size: 300%;
}

.tagline {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px brown;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home-icons {
    text-align: center;
    margin-top: 5%;
}

#card-images {
    margin-top: 2em;
}

.home-icon-wrapper {
    height: 50px;
    width: 50px;
    background-color: #fff;
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    border-radius: 5px;
    margin: 30px 4%;
}

.home-icon {
    font-size: 180%;
    display: inline-block;
    color: brown;
}

#scrollDown {
    color: white;
}

.bottom-bar-wrapper {
    /*background-color: #fff;*/
    height: 48px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
    overflow: hidden;
}

.chevron-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    text-align: center;
    color: #fff;
    font-size: 180%;
    line-height: 48px;
}

.about-tab1,
.about-tab2 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.about-tab1 {
    text-align: center;
    border: 2px solid #fff;
}

.heading {
    color: #fff;
    padding: 15px;
    font-size: 200%;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #fff;
}

.kts-taxi-wrapper {
    text-align: center;
    padding: 15px;
}

.kts-taxi {
    max-width: 80%;
}

.about-content {
    color: #fff;
    font-size: 130%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    border-top: 2px solid #fff;
}

.service-wrapper {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
}

.service-wrapper.services-header {
    padding: 15px 0;
}

.service-icon {
    height: 60px;
    width: 60px;
    background: #fff;
    margin: 1px;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
}

.service-icon > i {
    font-size: 280%;
    color: #0a487a;
}

.service-name {
    color: #fff;
    font-size: 150%;
    line-height: 60px;
    display: inline-block;
    padding-left: 15px;
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 420px;
}

.service-heading {
    font-size: 200%;
    color: #fff;
    text-align: center;
}

.bottom-bar-section2 {
    background: #0066b7;
}

.bottom-bar-section3 {
    background: #e1bd33;
}

.bottom-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    text-align: center;
    color: #fff;
    font-size: 122%;
    line-height: 48px;
    padding: 0 10px;
    margin: 0 auto;
}

#section1 {
    background: url("./assets/about_bg.png") no-repeat;
    background-size: 100% auto;
}

.bottom-nav:after {
    content: ' ';
    width: 40px;
    height: 70px;
    background: #fff;
    position: absolute;
    left: -13px;
    transform: rotate(20deg);
}

.bottom-nav {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 200px;
    height: 48px;
    margin: 0px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #fff;
    float: right;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
    position: relative;
}

.maps-iframe {
    border: 5px solid #fff;
    height: 301px;
    width: 100%;
}

.contact-form {
    height: 570px;
    width: 100%;
    background: #fff;
    padding: 30px;
}

.contact-heading {
    font-size: 150%;
    font-weight: bold;
}

.form {
    margin: 20px 0;
}

.form-input {
    width: 100%;
    padding: 5px;
    font-size: 120%;
    border: none;
    border-bottom: 3px solid #d6d6d6;
    transition: all 0.5s ease;
    margin: 15px 0;
}

.form-input:focus {
    outline: none;
    border-bottom: 3px solid #f60;
}

.contact-underline {
    width: 50px;
    height: 4px;
    background: #f60;
    margin-top: 5px;
}

#section3 .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-unify {
    width: 100%;
    height: 200px !important;
    margin: 0;
    padding: 0;
}

.caption > h3 {
    font-size: 155%;
}

/* Cards */

.card-title {
    font-size: 200%;
    color: #fff;
    padding: 6px 0;
}

.list-group {
    margin-bottom: 0 !important;
    text-align: left;
}

.list-group-item {
    color: #444;
    font-size: 122%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.package-card {
    background: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid #fff;
    max-width: 400px;
    margin: 0 auto;
}

#section2 {
    background: url("./assets/packages_bg.png") no-repeat;
    background-size: 100% 100%;
}

#section2 .col-md-3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.spacer {
    height: 15vh;
}

.text-white {
    color: #FFFFFF;
}

.package-header {
    background-color: rgba(0,0,0, 0.2) !important;
    display: block;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

.form > button {
    background: #f60;
    color: #fff;
    border: 1px solid #f60;
    width: 100%;
    padding: 12px;
}

.contact-card {
    height: auto;
    width: 100%;
    background: #fff;
    padding: 15px;
}

.contact-card img {
    width: 50px;
    height: 50px;
}

.contact-card > .app-name-container {
    display: flex;
    line-height: 50px;
}

.contact-card .app-name {
    font-size: 145%;
    padding-left: 10px;
    color: #f60;
    margin-bottom: 15px;
}

.owner-info > div {
    margin-top: 10px;
}

.owner-info > div > .owner-info-property {
    width: 50px;
    display: inline-block;
    text-align: center;
}

.owner-info .fa {
    font-size: 145%;
}

.owner-info .owner-info-value {
    font-size: 135%;
}

.owner-info .owner-info-value-2 {
    margin-left: 54px;
    font-size: 135%;
}

.thumbnail {
    text-align: center;
    background: transparent;
    border: none;
}

.image-desc-wrapper {
    display: inline-block;
    background: #fff;
    padding: 4px;
    border-radius: 4px;
    max-width: 300px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.packages-theme-color {
    background: #f45754;
}

#modal-header {
    text-align: center;
    text-transform: capitalize;
    font-size: 140%;
    font-weight: bold;
    color: #fff;
    border-radius: 4px 4px 0 0;
}

tbody td {
    text-align: center;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
}

.view-all {
    background: #ff9800;
    padding: 6px 35px;
    color: #fff;
    margin-top: 6px;
    margin-bottom: 6px;
}

.view-all:focus {
    outline: none;
}

table {
    background: linear-gradient(#ffffffb5, #ffffffd1);
}

.table {
    margin-bottom: 0 !important;
}
.modal-content {
    background: url("./assets/home/malpe.jpg") no-repeat;
    background-size: cover;
}

.modal-button {
    text-transform: capitalize;
}

tbody > tr > td {
    color: #353535;
    text-transform: capitalize;
}

.view-all:hover, .view-all:focus {
    color: #fff;
}

.card-title.one {
    background: #ff9800;
}

.card-title.two {
    background: #2196f3;
}

.card-title.three {
    background: #fc6c7c;
}

.card-title.four {
    background: #fdd835;
}

/* Specific Mobile Features */
@media screen and (max-width: 1200px) {

    .body {
        font-size: 14px;
    }

    .maps-iframe {
        height: 300px;
    }

    .image-desc-wrapper > .image-unify {
        height: 160px !important;
    }

    .caption > h3 {
        font-size: 130%;
    }

    .bottom-text-container {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {

    body {
        font-size: 14px;
    }

    .chevron-container {
        transform: scale(1.9, 1.9);
    }

    .package-header {
        background-color: rgba(252,108,124, 0.9);
        display: block;
        text-transform: capitalize;
    }

    .card-title {
        font-size: 200%;
        color: #333333;
    }

    .image-desc-wrapper > .image-unify {
        width: 100% !important;
    }

    .contact-form {
        height: 535px;
    }

    .home-icon-wrapper {
        height: 35px;
        width: 35px;
        line-height: 35px;
    }

    .home-icon {
        font-size: 120%;
    }
}

@media screen and (max-width: 992px) {
    body {
        font-size: 12px;
    }

    .logo-sm-below {
        text-align: center;
        margin: 15px;
    }

    .bottom-text-container {
        width: 68%;
    }

    .last-package {
        margin-bottom: 40px;
    }

    .about-tab2 {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 10px;
    }

    .service-wrapper {
        margin-top: 15px;
    }

    .bottom-text-container {
        width: 56%;
    }

    .service-name {
        line-height: 50px;
    }

    .service-icon {
        height: 48px;
        width: 48px;
        line-height: 64px;
    }
}


@media screen and (max-width: 500px) {
    body {
        font-size: 8px;
    }

    .logo {
        height: 60px;
        width: 60px;
    }

    .image-desc-wrapper > .image-unify {
        height: 100px !important;
    }

    .home-icons {
        margin-top: 0px;
        margin-bottom: 35px;
    }

    .bottom-bar-wrapper, .bottom-text-container {
        height: 28px;
        line-height: 28px;
    }

    .bottom-nav:after {
        display: none;
    }

    .bottom-nav {
        width: 100px;
        height: 28px;
        line-height: 28px;
        border-top-left-radius: 4px;
    }

    .chevron-container {
        height: 28px;
        line-height: 28px;
    }

    .about-tab1 {
        margin-top: 15px;
    }
}


